/documentation/gm_convolution/derivation.aux
/documentation/gm_convolution/derivation.bbl
/documentation/gm_convolution/derivation.blg
/documentation/gm_convolution/derivation.log
/documentation/gm_convolution/derivation.out
/documentation/gm_convolution/derivation.pdf
/documentation/gm_convolution/derivation.synctex.gz
/documentation/gm_convolution/gm_convolution.pdf
/prototype/__pycache__/*
/documentation/*/*.aux
/documentation/*/*.log
/documentation/*/*.out
*.synctex.gz
/documentation/*/*.pdf
/gmc_net_data/models/*