/documentation/gm_convolution/derivation.aux
/documentation/gm_convolution/derivation.bbl
/documentation/gm_convolution/derivation.blg
/documentation/gm_convolution/derivation.log
/documentation/gm_convolution/derivation.out
/documentation/gm_convolution/derivation.pdf
/documentation/gm_convolution/derivation.synctex.gz
/documentation/gm_convolution/gm_convolution.pdf
/prototype/__pycache__/*
/documentation/*/*.aux
/documentation/*/*.log
/documentation/*/*.out
*.synctex.gz
/documentation/*/*.pdf
/gmc_net_data/models/*
/prototype/experiment_dl_1.py
/prototype/experiment_dl_10.py
/prototype/experiment_dl_11.py
/prototype/experiment_dl_12.py
/prototype/experiment_dl_13.py
/prototype/experiment_dl_14.py
/prototype/experiment_dl_15.py
/prototype/experiment_dl_2.py
/prototype/experiment_dl_3.py
/prototype/experiment_dl_4.py
/prototype/experiment_dl_5.py
/prototype/experiment_dl_6.py
/prototype/experiment_dl_7.py
/prototype/experiment_dl_8.py
/prototype/experiment_dl_9.py
/cpp_modules/build-gm_evaluate*
/cpp_modules/gm_evaluate/__pycache__/*
/cpp_modules/gm_evaluate/CMakeLists.txt.user
/src/gmc/__pycache__/*
/src/gmc/cpp/__pycache__/*
/src/gmc/cpp/gm_evaluate/CMakeLists.txt.user
/src/gmc/cpp/gm_evaluate/__pycache__/*
/src/prototype_convolution/__pycache__/*
